PORT=5000
MONGO_URI=mongodb+srv://<DB_USER>:<DB_PASSWORD>@routexpress.fev5xvq.mongodb.net/routexpress?retryWrites=true&w=majority&appName=RouteXpress
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImIzODE5ZjU2NzU3ZDQ1YWZiOWE0OTZmOWVjZDYwYTQ1IiwiaCI6Im11cm11cjY0In0=
